doctype html
html
  head
    style
      include main.css
    title Account Linking Error
  body
    div.container
      form#contact
        h3 Sorry, An error occurred when linking account with #{title}. Error:
        h4 #{error}
        p.copyright Designed by #[a(href="http://www.ralinwi.com/" target="_blank" title="Ralinwi") Ralinwi]
